doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge, chrome=1')
    meta(name='viewport' content='width=device-width, maximum-scale=1.0 minimum-scale=1.0 initial-scale=1.0 user-scalable=no')
    meta(name='description' content='Because The Internet script by Childish Gambino')
    meta(name='keywords' content='codereview rev lint style software coding devops')
    meta(name='mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')
    link(rel='shortcut icon' href='assets/favicon/favicon.ico')
    link(rel='shortcut icon' type='image/gif' href='assets/favicon/animated_favicon.gif')
    link(rel='shortcut icon' sizes='16x16' href='assets/favicon/favicon-16x16.png')
    link(rel='shortcut icon' sizes='32x32' href='assets/favicon/favicon-32x32.png')
    link(rel='shortcut icon' sizes='96x96' href='assets/favicon/favicon-96x96.png')
    link(rel='shortcut icon' sizes='230x230' href='assets/favicon/favicon-230x230.png')
    link(rel='apple-touch-icon' sizes='57x57' href='assets/favicon/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon-precomposed' sizes='57x57' href='assets/favicon/apple-touch-icon-precomposed.png')
    link(rel='apple-touch-icon' sizes='60x60' href='assets/favicon/apple-touch-icon-60x60.png')
    link(rel='apple-touch-icon' sizes='72x72' href='assets/favicon/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon' sizes='114x114' href='assets/favicon/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon' sizes='152x152' href='assets/favicon/apple-touch-icon-152x152.png')
    link(rel='apple-touch-icon' sizes='167x167' href='assets/favicon/apple-touch-icon-167x167.png')
    title
      | bti - Because The Internet script by Childish Gambino
    link(rel='stylesheet' type='text/css' href='css/fix.css')
    link(rel='stylesheet' type='text/css' href='css/main.css')
  body
    block content
