$black = #212121
$white = #FAFAFA

html
  background-color $black
  color $white
body
  background-color $black
  color $white
  overflow hidden

.bethit
  &-main
    height 100%
    max-height 100%
    max-width 100%
    min-height 100%
    min-width 100%
    width 100%

.error
  &-banner
    font-size 3rem
    text-align center
    text-decoration underline
  &-container
    align-content center
    align-items center
    cursor alias
    display flex
    height 100%
    justify-content center
    max-height 100%
    max-width 100%
    min-height 100%
    min-width 100%
    width 100%
  &-link
    cursor alias
